python-dotenv
llama-index
langchain-openai
langchain-core
langtrace-python-sdk
arize-phoenix
arize-phoenix-otel
openinference-instrumentation-langchain
langchain-community
tiktoken
langchainhub
langchain-chroma
langchain
beautifulsoup4
weave
openai
setuptools
agentops
langgraph
setuptools
langsmith